body {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.newbook {
  width: 100px;
  height: 50px;
  background-color: white;
  position: fixed;
  bottom: 23px;
  right: 28px;
  border-style: none;
  background: url(./icons/book.png) no-repeat;
  background-position: center;
  cursor: grab;
}

.form {
  display: none;
  position: fixed;
  bottom: 0;
  right: 1px;
  margin-bottom: 30px;
  z-index: 9;
}

.formwrapper {
  border: 1px black solid;
  text-align: center;
  padding-bottom: 10px;
  background-color: white;
}

#close {
  background-color: red;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.topheader {
  font-size: 40px;
}

.botheader {
  text-align: center;
}

.bookdisplay {
  background-color: rgb(252, 178, 82);
  border: 1px solid black;
  text-align: center;
  padding-top: 50px;
  display: grid;
}

.titlebook {
  padding-bottom: 40px;
}

.delBook {
  background-color: red;
}

.readBook {
  background-color: green;
}

.botBook {
  display: flex;
  justify-content: space-between;
}
