body {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: rgb(18, 231, 82);
  gap: 20px;
}

.newbook {
  width: 100px;
  height: 50px;
  background-color: white;
  position: fixed;
  bottom: 23px;
  right: 28px;
  border-radius: 30px;
  border: 1px black solid;
  background: url(./icons/book.png) no-repeat;
}

.form {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.formwrapper {
  background-color: aqua;
  text-align: center;
  padding-bottom: 10px;
}

#close {
  background-color: red;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}

.topheader {
  background-color: rgb(30, 38, 150);
}

.botheader {
  font-size: xx-large;
}

.bookdisplay {
  background-color: tan;
  border: 1px solid black;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  max-width: 200px;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.delBook {
  background-color: red;
}

.readBook {
  background-color: green;
}

.botBook {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
}
